In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%cd Data Cleaning
%run crime_and_income.ipynb

C:\Users\sarah\OneDrive\Desktop\Data Analytics BootCamp\Homework\Project-1---Crime-Demographics-and-City-Response\Data Cleaning

In [3]:
income_crime_merge_left.head()

,Cities,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0

In [4]:
starbucks_final = pd.read_csv('output_data/starbucks_final.csv')
starbucks_final.drop('Unnamed: 0', axis='columns', inplace=True)

In [5]:
starbucks_final.head()

   Hood_ID                      Neighbourhood  Number of Stores
0       76                bay street corridor                26
1       77  waterfront communities-the island                19
2       75              church-yonge corridor                 8
3       14         islington-city centre west                 8
4       95                              annex                 7

In [6]:
income_crime_starbucks = pd.merge(income_crime_merge_left, starbucks_final, on='Hood_ID', how='left')
income_crime_starbucks.head()

,Cities,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income,Neighbourhood,Number of Stores
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0,south parkdale,1.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0,south riverdale,1.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0,st.andrew-windfields,1.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0,NaN,NaN
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0,NaN,NaN

In [7]:
income_crime_starbucks.drop(['Neighbourhood'], axis='columns', inplace=True)
income_crime_starbucks.head()

,Cities,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income,Number of Stores
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0,1.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0,1.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0,1.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0,NaN
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0,NaN

In [8]:
income_crime_starbucks.isnull().sum()

Cities                 0
Hood_ID                0
Assault Rate           0
Auto Theft Rate        0
Break&Enter Rate       0
Homicide Rate          0
Robberey Rate          0
Theft Over Rate        0
Total Average Rate     0
Median_Income          4
Average_Income         4
Number of Stores      68
dtype: int64

In [9]:
income_crime_starbucks['Number of Stores'].fillna(0, inplace=True)
income_crime_starbucks.isnull().sum()

Cities                0
Hood_ID               0
Assault Rate          0
Auto Theft Rate       0
Break&Enter Rate      0
Homicide Rate         0
Robberey Rate         0
Theft Over Rate       0
Total Average Rate    0
Median_Income         4
Average_Income        4
Number of Stores      0
dtype: int64

In [10]:
income_crime_starbucks = income_crime_starbucks.rename(columns={"Cities" : "Neighbourhood",
                                                                "Number of Stores" : "Number of Starbucks Stores"})
income_crime_starbucks

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income,Number of Starbucks Stores
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0,1.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0,1.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0,1.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0,0.0
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33,57140.0,92623.0,0.0
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03,66537.0,89289.0,8.0
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02,69640.0,85379.0,1.0
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82,43976.0,56844.0,0.0
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10,42131.0,62141.0,1.0

In [11]:
# Import "Red_light file" and Merge together
red_light_csv = 'output_data/lights_final.csv'
red_light = pd.read_csv(red_light_csv)
red_light.head()

,Unnamed: 0,Hood_ID,Neighbourhood,Number of Red Lights
0,0,14,Islington-City Centre West (14),7
1,1,1,West Humber-Clairville (1),6
2,2,116,Steeles (116),6
3,3,137,Woburn (137),6
4,4,77,Waterfront Communities-The Island (77),6

In [12]:
crime_income_starbucks_redlight = pd.merge(income_crime_starbucks, red_light, on='Hood_ID', how='left')

In [13]:
crime_income_starbucks_redlight = crime_income_starbucks_redlight.loc[:,["Neighbourhood_x",
                                                                         "Hood_ID",
                                                                         "Assault Rate",
                                                                         "Auto Theft Rate", 
                                                                         "Break&Enter Rate",
                                                                         "Homicide Rate",
                                                                         "Robberey Rate",
                                                                         "Theft Over Rate",
                                                                         "Total Average Rate",
                                                                         "Median_Income",
                                                                         "Average_Income",
                                                                         "Number of Starbucks Stores",
                                                                         "Number of Red Lights"]]

In [14]:
crime_income_starbucks_redlight = crime_income_starbucks_redlight.rename(columns={"Neighbourhood_x" : "Neighbourhood"})

In [15]:
crime_income_starbucks_redlight

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income,Number of Starbucks Stores,Number of Red Lights
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0,1.0,2.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0,1.0,2.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0,1.0,1.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0,0.0,NaN
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33,57140.0,92623.0,0.0,NaN
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03,66537.0,89289.0,8.0,7.0
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02,69640.0,85379.0,1.0,NaN
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82,43976.0,56844.0,0.0,1.0
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10,42131.0,62141.0,1.0,NaN

In [16]:
# import speeding light counts df
speeding_csv = 'output_data/speeding_count_df.csv'
speeding_count = pd.read_csv(speeding_csv)
speeding_count.head()

                  Neighbourhood  Speeding
0               Agincourt North        21
1  Agincourt South-Malvern West        23
2                     Alderwood        14
3                         Annex        15
4             Banbury-Don Mills        30

In [17]:
# add housing data
# run housing_data 
%run housing_data.ipynb

# merge housing data (housing_subset_df)
crime_income_starbucks_redlight_housing = pd.merge(crime_income_starbucks_redlight, housing_subset_df, left_on='Hood_ID', right_on='Neighbourhood Number', how='left')

# drop repeated columns
crime_income_starbucks_redlight_housing.drop(['Neighbourhood Number'], axis='columns', inplace=True)

In [18]:
crime_income_starbucks_redlight_housing

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,...,Percentage of Unsuitable Housing,Percentage of Dwellings Built in 1960 or Before,Percentage of Dwellings Built in 1990 or Before,Percentage of Dwellings Built in 2005 or Before,Percentage of Dwellings Built in 1991 or After,Percentage of Dwellings Built in 2006 or After,Percentage of Dwellings Requiring Only Regular Maintenance or Minor Repairs,Percentage of Households with Maintainer aged 34 and under,Percentage of Households with Maintainer aged 65 and older,Percentage of Households Spending over 30% of Income on Shelter
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,...,0.158911,42.474770,81.307591,87.713910,18.648530,12.242211,89.157155,34.372256,13.871817,49.230769
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,...,0.060017,57.728968,75.714878,83.381683,24.036469,16.369664,92.100910,22.350993,15.687086,31.156406
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,...,0.068429,17.431907,73.929961,93.073930,25.758755,6.614786,95.101089,7.226107,29.059829,33.879781
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,...,0.289243,26.395534,93.540670,99.202552,6.299841,0.637959,87.878788,20.478088,17.131474,44.143426
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,...,0.169448,15.532734,90.115533,97.175866,9.884467,2.824134,93.589744,10.668380,34.575835,31.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33,57140.0,...,0.099696,63.394216,92.922374,97.412481,6.925419,2.435312,90.555979,26.219512,19.588415,35.725191
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03,66537.0,...,0.107346,22.049689,54.839545,68.400621,45.186335,31.625259,92.881180,22.265322,22.523920,33.048433
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02,69640.0,...,0.057325,77.678571,96.173469,99.107143,4.464286,1.530612,91.464968,15.286624,29.044586,30.318471
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82,43976.0,...,0.204110,28.630137,81.917808,98.767123,18.082192,1.232877,91.095890,11.901505,30.369357,33.058985
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10,42131.0,...,0.222785,24.155405,79.138514,93.496622,20.692568,6.334459,87.257384,11.645570,21.434599,41.518987

In [19]:
#Merge Crime + Income + Starbucks + Red Light + Speeding Count all together! (Final)
final_df = pd.merge(crime_income_starbucks_redlight_housing, speeding_count, on='Neighbourhood', how='left')

In [20]:
final_df

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,...,Percentage of Dwellings Built in 1960 or Before,Percentage of Dwellings Built in 1990 or Before,Percentage of Dwellings Built in 2005 or Before,Percentage of Dwellings Built in 1991 or After,Percentage of Dwellings Built in 2006 or After,Percentage of Dwellings Requiring Only Regular Maintenance or Minor Repairs,Percentage of Households with Maintainer aged 34 and under,Percentage of Households with Maintainer aged 65 and older,Percentage of Households Spending over 30% of Income on Shelter,Speeding
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,...,42.474770,81.307591,87.713910,18.648530,12.242211,89.157155,34.372256,13.871817,49.230769,26.0
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,...,57.728968,75.714878,83.381683,24.036469,16.369664,92.100910,22.350993,15.687086,31.156406,20.0
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,...,17.431907,73.929961,93.073930,25.758755,6.614786,95.101089,7.226107,29.059829,33.879781,3.0
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,...,26.395534,93.540670,99.202552,6.299841,0.637959,87.878788,20.478088,17.131474,44.143426,4.0
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,...,15.532734,90.115533,97.175866,9.884467,2.824134,93.589744,10.668380,34.575835,31.666667,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Humewood-Cedarvale,106,320.2,111.4,181.0,0.0,69.6,27.8,118.33,57140.0,...,63.394216,92.922374,97.412481,6.925419,2.435312,90.555979,26.219512,19.588415,35.725191,8.0
136,Islington-City Centre West,14,504.9,391.2,282.0,2.3,79.6,84.2,224.03,66537.0,...,22.049689,54.839545,68.400621,45.186335,31.625259,92.881180,22.265322,22.523920,33.048433,45.0
137,Danforth,66,786.3,72.4,413.8,0.0,186.2,41.4,250.02,69640.0,...,77.678571,96.173469,99.107143,4.464286,1.530612,91.464968,15.286624,29.044586,30.318471,6.0
138,Rustic,28,593.5,372.2,140.8,10.1,30.2,10.1,192.82,43976.0,...,28.630137,81.917808,98.767123,18.082192,1.232877,91.095890,11.901505,30.369357,33.058985,NaN
139,Scarborough Village,139,1046.4,107.6,239.2,0.0,167.4,12.0,262.10,42131.0,...,24.155405,79.138514,93.496622,20.692568,6.334459,87.257384,11.645570,21.434599,41.518987,11.0

In [21]:
#categories income ranges
bins = [0,25000,50000,75000,100000,125000,150000,175000,200000,225000,250000,275000]
income_range = ["<25K","25-50K","50-75K","75-100K","100-125K","125-150K","150-175K","175-200K","200-225K","225-250K","250K+"]
final_df["Income Group"] = pd.cut(final_df["Average_Income"], bins , labels = income_range)

In [23]:
final_df.columns

Index(['Neighbourhood', 'Hood_ID', 'Assault Rate', 'Auto Theft Rate',
       'Break&Enter Rate', 'Homicide Rate', 'Robberey Rate', 'Theft Over Rate',
       'Total Average Rate', 'Median_Income', 'Average_Income',
       'Number of Starbucks Stores', 'Number of Red Lights', 'Neighbourhood_x',
       'Population, 2016', 'Home Prices',
       'Social Housing as a Percentage of Households',
       'Social Housing Waitlist as a Percentage of Social Housing',
       'Census Residents per Private dwellings',
       'Percentage of Housing Single-detached',
       'Percentage of Housing Apartments', 'Percentage of Housing Attached',
       'Percentage of 1-person Households',
       'Percentage of 2-person Households',
       'Percentage of 3-person or More Households',
       'Percentage of Households with Income < 10k',
       'Percentage of Households with Income < 20k',
       'Percentage of Households with Income < 30k',
       'Percentage of Households with Income > 150k',
       'Percentage of Households with Income > 200k',
       'Percentage of Unsuitable Housing',
       'Percentage of Dwellings Built in 1960 or Before',
       'Percentage of Dwellings Built in 1990 or Before',
       'Percentage of Dwellings Built in 2005 or Before',
       'Percentage of Dwellings Built in 1991 or After',
       'Percentage of Dwellings Built in 2006 or After',
       'Percentage of Dwellings Requiring Only Regular Maintenance or Minor Repairs',
       'Percentage of Households with Maintainer aged 34 and under',
       'Percentage of Households with Maintainer aged 65 and older',
       'Percentage of Households Spending over 30% of Income on Shelter',
       'Speeding', 'Income Group'],
      dtype='object')

In [ ]:
final_df.head()

In [ ]:
final_df.to_csv('../Final_Data.csv')