In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
%run Final_Merge.ipynb

C:\Users\sarah\OneDrive\Desktop\Data Analytics BootCamp\Homework\Project-1---Crime-Demographics-and-City-Response\Data Cleaning

In [3]:
final_df.head()

,Neighbourhood,Hood_ID,Assault Rate,Auto Theft Rate,Break&Enter Rate,Homicide Rate,Robberey Rate,Theft Over Rate,Total Average Rate,Median_Income,Average_Income,Number of Starbucks Stores,Number of Red Lights,Speeding,Income Group
0,South Parkdale,85,1148.8,91.5,407.3,4.6,151.0,100.7,317.32,35601.0,46896.0,1,2,26,25-50K
1,South Riverdale,70,936.3,143.5,477.1,0.0,125.6,75.3,292.97,65076.0,83491.0,1,2,20,75-100K
2,St.Andrew-Windfields,40,325.6,196.5,466.0,0.0,67.4,33.7,181.53,94271.0,189629.0,1,1,3,175-200K
3,Taylor-Massey,61,777.9,76.5,401.7,6.4,82.9,19.1,227.42,40915.0,51242.0,0,0,4,50-75K
4,Humber Summit,21,950.4,1087.3,459.1,24.2,225.5,177.2,487.28,57786.0,68431.0,0,3,23,50-75K